.tweet-box {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 16px;
  position: absolute;
  bottom: 16px;
  left: 16px;
  right: 16px;

  p {
    margin: 0;
  }

  .tb-text {
    font-size: 2rem;
  }

  .tb-text:hover {
    cursor: pointer;
  }
}

@media (min-width: 800px) and (min-height: 800px) {
  .tweet-box {
    padding: 30px;

    .tb-text {
      font-size: 3rem;
    }
  }
}
