:local(.tweetBox) {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 16px;
  position: absolute;
  bottom: 16px;
  left: 16px;
  right: 16px;

  p {
    margin: 0;
  }

  :local(.tbText) {
    font-size: 2rem;
  }

  :local(.tbText):hover {
    cursor: pointer;
  }
}

@media (min-width: 800px) and (min-height: 800px) {
  :local(.tweetBox) {
    padding: 30px;

    :local(.tbText) {
      font-size: 3rem;
    }
  }
}
