.spotify-image {
  bottom: 0;
  background-color: #000;
  background-repeat: no-repeat;
  background-size: cover;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;

  &.artist {
    border-radius: 50000px;
  }
}
