.tweet-box {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 30px;
  position: absolute;
  bottom: 16px;
  left: 16px;
  right: 16px;

  p {
    margin: 0;
  }

  .tb-text {
    font-size: 3rem;
  }

  .tb-text:hover {
    cursor: pointer;
  }
}
