/* sp-bootstrap */
@import url('//sp-bootstrap.global.ssl.fastly.net/5.2.0/sp-bootstrap.min.css');

html, body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #000;
}

.body-blur {
  background-color: #000;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 50%;
  position: absolute;
  opacity: .4;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  filter: blur(10px);
}

:local(.loadingBox) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

:local(.nowPlayingBox) {
  position: absolute;
  height: 80vmin;
  width: 80vmin;
  margin: auto;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}
